- set_headline "Editing page #{@page.title}"

= link_to 'Show', admin_page_path(@page)
|
= link_to 'Back to List', admin_pages_path

= render :partial => "admin/pages/form", :locals => {:url => admin_page_path(@page)}

