- set_headline "Listing images"

= link_to 'New image', new_admin_upload_image_path
%br

%table.listing
  %tr

  - for image in @images
    %tr
      %td= image.image_file_name
      %td= link_to 'Show', admin_upload_image_path(image)
      %td= link_to 'Destroy', admin_upload_image_path(image), :confirm => 'Are you sure?', :method => :delete

