- set_headline "List of Menu Entries"

%table.listing
  %tr
    %th Name
    %th Parent
    %th Path or Page
    %th Tools
  = list_tree('location', 'shared/concat_items', @locations)

= link_to 'New Menu Entry', new_admin_location_path
