body.with_admin #inset
  :margin-top !admin_menu_height


#admin_tools
  :width 100%
  :font-size 11px
  :background #775
  :color white
  :z-index 2
  :position absolute
  :top 0
  :left 0
  :border-bottom 1px solid black
  :padding 5px
  :font-family Helvetica, Arial, sans-serif    
  :height 15px

  h3
    :float left
    :margin 0 1em 0 0
    :font-size 11px
    :font-weight bold    
  
  li 
    :list-style none
    :display block
    :float left        
    :margin-right 1em   
    
    a
      :color white
      
    a:hover
      :color #ff6
      
      