- set_headline @page.headline
- content_for :title, @page.title
- content_for :keywords, @page.keywords
- content_for :description, @page.description

- content_for :page_css do
  = raw @page.css

= raw @page.content

- if admin?
  %p.admin_tool
    - if @page.layout == "blog"
      = link_to "ADMIN:<br />Edit this post".html_safe, edit_admin_blog_post_path(@page), :class => 'admin_tool'
    -else
      = link_to "ADMIN:<br />Edit this page".html_safe, edit_admin_page_path(@page), :class => 'admin_tool'
