- set_headline @page.headline
- content_for :title, @page.title
- content_for :keywords, @page.keywords
- content_for :description, @page.description

- content_for :page_css do
  = raw @page.css

= raw @page.content

%p
  - if admin?
    = link_to "ADMIN: Edit this page", edit_admin_page_path(@page), :class => 'admin_tool'