#content
  border: 1px #666666 solid
  background: white

  h1
    border-bottom: 1px #666666 solid
    padding: 0.25em
    background: #000044
    color: white
    margin-bottom: 0

  #content-body
    padding: 1em

  #content-body:after
    +clearfix

table.listing
  border-collapse: collapse
  margin: 1em 0
  border: 1px solid black
  border-bottom-width: 2px

  td, th
    border: 1px solid black
    padding: 3px 0.25em

  th
    font-weight: bold
    background: #ccccee
  tr.odd
    background: white
  tr.even
    background: #eeeeee
  tr.info td
    border-top-width: 2px
  tr.description td
    border-bottom-width: 2px
  tr.one_line td
    white-space: nowrap
    overflow: hidden

p
  :margin 1em 0

em
  font-style: italic
strong
  font-weight: bold

.image-index
  width: 100%

  .url-wrapper
    display: block
    height: 1.5em
    .image-url
      // :display block

  .image-partial
    display: inline-block
    height: 80px
    max-width: 800px
    overflow: hidden

  .image-full
    display: inline-block

  .arrow-down
    display: inline-block
    float: left
    width: 0
    height: 0
    border-left: 15px solid transparent
    border-right: 15px solid transparent
    border-top: 30px solid black
    margin: 5px

  .arrow-right
    display: inline-block
    float: left
    width: 0
    height: 0
    border-top: 15px solid transparent
    border-bottom: 15px solid transparent
    border-left: 30px solid black
    margin: 5px

  .image-style
    text-align: center
    font-weight: bold

  .dimensions
    font-size: .75em
