/*
Syntax error: Invalid property: ":background= !error_background".
        on line 18 of /Users/hannah/projects/LRD-CMS/public/stylesheets/sass/constants.sass
        from line 2 of /Users/hannah/projects/LRD-CMS/public/stylesheets/sass/universal.sass

13: 
14: =error_notice_colors
15:   :border-width 2px
16:   :border-style solid 
17:   :border-color #f44
18:   :background= !error_background

Backtrace:
/Users/hannah/projects/LRD-CMS/public/stylesheets/sass/constants.sass:18
/Users/hannah/projects/LRD-CMS/public/stylesheets/sass/universal.sass:2
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:543:in `parse_line'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:456:in `build_tree'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:475:in `block in append_children'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:474:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:474:in `append_children'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:465:in `block in build_tree'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:458:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:458:in `build_tree'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:475:in `block in append_children'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:474:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:474:in `append_children'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:330:in `_to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:258:in `block in to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/util.rb:297:in `silence_sass_warnings'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:258:in `to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/perform.rb:142:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:300:in `_render'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:248:in `block in render'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/util.rb:297:in `silence_sass_warnings'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/engine.rb:248:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/plugin/compiler.rb:200:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/plugin.rb:54:in `check_for_updates'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/haml-3.1.7/vendor/sass/lib/sass/plugin/rack.rb:51:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/etag.rb:23:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/conditionalget.rb:25:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/head.rb:14:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/flash.rb:242:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/session/abstract/id.rb:210:in `context'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/session/abstract/id.rb:205:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/cookies.rb:341:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/activerecord-3.2.11/lib/active_record/query_cache.rb:64:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/activerecord-3.2.11/lib/active_record/connection_adapters/abstract/connection_pool.rb:479:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/callbacks.rb:28:in `block in call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/activesupport-3.2.11/lib/active_support/callbacks.rb:405:in `_run__1993563844411062538__call__3661431664885006031__callbacks'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/activesupport-3.2.11/lib/active_support/callbacks.rb:405:in `__run_callback'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/activesupport-3.2.11/lib/active_support/callbacks.rb:385:in `_run_call_callbacks'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/activesupport-3.2.11/lib/active_support/callbacks.rb:81:in `run_callbacks'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/callbacks.rb:27:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/reloader.rb:65:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/remote_ip.rb:31:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/debug_exceptions.rb:16:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/show_exceptions.rb:56:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/railties-3.2.11/lib/rails/rack/logger.rb:32:in `call_app'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/railties-3.2.11/lib/rails/rack/logger.rb:16:in `block in call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/activesupport-3.2.11/lib/active_support/tagged_logging.rb:22:in `tagged'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/railties-3.2.11/lib/rails/rack/logger.rb:16:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/request_id.rb:22:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/methodoverride.rb:21:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/runtime.rb:17:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/activesupport-3.2.11/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/lock.rb:15:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/actionpack-3.2.11/lib/action_dispatch/middleware/static.rb:62:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/railties-3.2.11/lib/rails/engine.rb:479:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/railties-3.2.11/lib/rails/application.rb:223:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/content_length.rb:14:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/railties-3.2.11/lib/rails/rack/log_tailer.rb:17:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p362@lrdcms/gems/rack-1.4.4/lib/rack/handler/webrick.rb:59:in `service'
/usr/local/rvm/rubies/ruby-1.9.3-p362/lib/ruby/1.9.1/webrick/httpserver.rb:138:in `service'
/usr/local/rvm/rubies/ruby-1.9.3-p362/lib/ruby/1.9.1/webrick/httpserver.rb:94:in `run'
/usr/local/rvm/rubies/ruby-1.9.3-p362/lib/ruby/1.9.1/webrick/server.rb:191:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid property: \":background= !error_background\".\A         on line 18 of /Users/hannah/projects/LRD-CMS/public/stylesheets/sass/constants.sass\A         from line 2 of /Users/hannah/projects/LRD-CMS/public/stylesheets/sass/universal.sass\A \A 13: \A 14: =error_notice_colors\A 15:   :border-width 2px\A 16:   :border-style solid \A 17:   :border-color #f44\A 18:   :background= !error_background"; }
