#admin_tools
  %h3 Admin Tools:
  %ul.admin_nav                                                 
    %li= link_to "Edit Pages", '#'
    %li= link_to "Edit Menu", '#'    
    %li= link_to "Upload Documents", admin_upload_documents_path
    %li= link_to "Upload Images", admin_upload_images_path